# Compiled source #
###################
*.com
*.exe
*.o
*.so
*.~*
*.dcu
*.rsm
*.dproj.local
*.identcache
# Packages #
###################
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.bmp
#folders
###################
/Win64/
*/Win64
*/Win32
/Debug/
/__history/
*/__history
/__recovery/
*/__recovery
/tools/
/test/
*/test
/old/
*/old
examples/example4/play.JPG
