# Delphi / RAD Studio
__history/
*.dcu
*.o
*.dcp
*.identcache
*.local
*.stat
*.res
*.dsk
*.dsv
*.map
*.rsm

# Build folders
Win32/
Win64/
Debug/
Release/
tmp/
gst-android-build/
Tools/AndroidGStreamer/out/
Tools/AndroidGStreamer/gst-android-build/
Tools/AndroidGStreamer/src/

# Executables / binaries
*.exe
*.bpl

# Backup files
*.~*
*.bak

# Logs
*.log
~*.*

# OS
Thumbs.db
.DS_Store
